---
import communityFeature from "../../../../assets/images/features/comunity_feature.png";
import messagesFeature from "../../../../assets/images/features/messages_feature.png";
import calendarFeature from "../../../../assets/images/features/calendar_feature.png";
import casesFeature from "../../../../assets/images/features/cases_feature.png";
import paymentFeature from "../../../../assets/images/features/payment_feature.png";
---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="bg-white rounded-xl shadow-sm overflow-hidden p-6">
      <h2 class="text-base/7 font-semibold text-blue-600 text-left">
        Herramientas
      </h2>
      <p
        class="mt-2 max-w-lg text-pretty text-4xl font-semibold tracking-tight text-gray-950 text-left"
      >
        Herramientas poderosas para el mundo legal
      </p>
      <p
        class="mt-6 max-w-2xl text-pretty text-left text-base font-medium text-gray-600"
      >
        Descubre las funcionalidades que hacen de Arxatec la plataforma
        definitiva para abogados y clientes. Desde gestión inteligente hasta
        comunicación en tiempo real, todo lo que necesitas en un solo lugar.
      </p>
    </div>
    <div class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-6 lg:grid-rows-2">
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[1rem] lg:rounded-tl-[1rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(1rem+1px)] lg:rounded-tl-[calc(1rem+1px)]"
        >
          <div class="relative w-full h-[80]">
            <div
              class="absolute h-16 w-full bg-gradient-to-t from-white to-transparent z-20 bottom-0"
            >
            </div>
            <img
              class="h-80 object-cover object-left w-full"
              src={communityFeature.src}
              alt=""
            />
          </div>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-600">Comunidad</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Comparte y aprende
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Publica, aprende y comparte con otros profesionales y clientes
              sobre el mundo legal.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm max-lg:rounded-t-[1rem] lg:rounded-tl-[1rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-white lg:rounded-tr-[1rem] w-full h-full"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tr-[calc(1rem+1px)]"
        >
          <div class="relative w-full h-80">
            <div
              class="absolute h-16 w-full bg-gradient-to-t from-white to-transparent z-20 bottom-0"
            >
            </div>
            <img
              class="h-80 object-cover object-left lg:object-right"
              src={casesFeature.src}
              alt=""
            />
          </div>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-600">Casos</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Crea y gestiona casos
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Crea y gestiona tus casos con abogados en tiempo real para una
              comunicación más rápida y efectiva.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm lg:rounded-tr-[1rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-[1rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-bl-[calc(1rem+1px)]"
        >
          <div class="relative h-80 w-full">
            <div
              class="absolute h-16 w-full bg-gradient-to-t from-white to-transparent z-20 bottom-0"
            >
            </div>
            <img
              class="h-80 object-cover object-left relative z-10 w-full"
              src={messagesFeature.src}
              alt=""
            />
          </div>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-600">Mensajes</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Habla con tu abogado
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Comunicación directa e instantánea con los expertos que necesitas.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm lg:rounded-bl-[1rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
        >
          <div class="h-80 relative w-full">
            <div
              class="absolute h-16 w-full bg-gradient-to-t from-white to-transparent z-20 bottom-0"
            >
            </div>
            <img
              class="h-80 object-cover w-full"
              src={calendarFeature.src}
              alt=""
            />
          </div>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-600">Calendario</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Organiza tus citas
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Gestiona reuniones y audiencias virtuales sin complicaciones.
            </p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm">
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[1rem] lg:rounded-br-[1rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(1rem+1px)] lg:rounded-br-[calc(1rem+1px)]"
        >
          <div class="relative h-80 w-full">
            <div
              class="absolute h-16 w-full bg-gradient-to-t from-white to-transparent z-20 bottom-0"
            >
            </div>
            <img
              class="h-80 object-cover w-full"
              src={paymentFeature.src}
              alt=""
            />
          </div>
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-600">Pagos</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Contrata en segundos
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Paga de forma rápida y segura para obtener asistencia legal
              inmediata.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow-sm max-lg:rounded-b-[1rem] lg:rounded-br-[1rem]"
        >
        </div>
      </div>
    </div>
  </div>
</div>
