---
import { languageList, useTranslations } from "../../../../i18n/";
const currentLang = Astro.currentLocale || "es";
import CardBlog from "../../../shared/card-blog/index.astro";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList,
);

const posts = [
  {
    title: "Boost your conversion rate",
    date: "2020-03-16",
    category: "Marketing",
    image:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80",
    author: {
      name: "Michael Foster",
      role: "Co-Founder / CTO",
      avatar:
        "https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
    },
    description:
      "Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde.",
    link: "#",
  },
  {
    title: "Boost your conversion rate",
    date: "2020-03-16",
    category: "Marketing",
    image:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80",
    author: {
      name: "Michael Foster",
      role: "Co-Founder / CTO",
      avatar:
        "https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
    },
    description:
      "Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde.",
    link: "#",
  },
  {
    title: "Boost your conversion rate",
    date: "2020-03-16",
    category: "Marketing",
    image:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80",
    author: {
      name: "Michael Foster",
      role: "Co-Founder / CTO",
      avatar:
        "https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80",
    },
    description:
      "Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde.",
    link: "#",
  },
];
---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="bg-white rounded-xl shadow-sm overflow-hidden p-6">
      <h2 class="lg:text-base/7 text-sm font-semibold text-blue-600 text-left">
        {translateLabels("home.blog.tag")}
      </h2>
      <p
        class="mt-2 max-w-lg text-pretty lg:text-4xl text-2xl font-semibold tracking-tight text-gray-950 text-left"
      >
        {translateLabels("home.blog.title")}
      </p>
      <p
        class="lg:mt-6 mt-2 max-w-2xl text-pretty text-left text-sm lg:text-base font-medium text-gray-600"
      >
        {translateLabels("home.blog.description")}
      </p>
    </div>
    <div
      class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-x-2 gap-y-2 lg:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      {
        posts.map((post) => (
          <CardBlog
            imageUrl={post.image}
            date={post.date}
            category={post.category}
            title={post.title}
            titleUrl={post.link}
            description={post.description}
            authorName={post.author.name}
            authorImage={post.author.avatar}
            authorRole={post.author.role}
          />
        ))
      }
    </div>
  </div>
</div>
